body{
    height: 1000px;
    margin: 0;
}
#nav-bar{
    position: fixed;
    width: 100%;
    padding: 0;
    background-color: white;
    top: 0;
    left: 0;
    padding: 10px;
}

#nav-bar > ul{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 0;
}

#nav-bar > ul > div{
    display: flex;
}

#nav-bar  li{
    list-style: none;
    margin: 0 20px;
}

#nav-bar  a{
    text-decoration: none;
    color: black;
}

.nav-left{
    margin: 25px 0;
}

.nav-right{
    margin: 10px;
}

.nav-mid{
    margin: 10px 0;
}

.login{
    padding: 12px 28px;
    border-radius: 0;
    border: 1px solid black;
}
.sign-up{
    padding: 12px 28px;
    background-color: #004E56;
    color: white;
    border-radius: 0;
    border: 0;
}

.fa-search{
    margin-top: 10px;
}

.mailchimp-logo{
    position: relative;
    bottom: 10px;
}


/* Himanshu's Part from here */




